.Login {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  background-color: #72C9D2; 

}

.Login h2 {
  text-align: center;
  color: #FFFFFF; 
}

.Login form {
  display: flex;
  flex-direction: column;
}

.Login form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Login form input[type="email"],
.Login form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.Login form input[type="submit"] {
  background-color: #1e90ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Login form input[type="submit"]:hover {
  background-color: #187bcd;
}

.error,
.successMsg {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.error {
  border: 1px solid #ff4d4d; 
  color: #ff4d4d; 
  background-color: #ffe6e6; 
}

.successMsg {
  border: 1px solid #5cff4d; 
  color: #2aff86; 
  background-color: #e9ffe6; 
}